<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="../../assets/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./../assets/styles/site.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../">Home</a>
      </div>
    </nav>
    <div class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
          <li class="breadcrumb-item">
            <a href="../index.html">Angular</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Components</li>
        </ol>
      </nav>

      <h1>Components</h1>

      <section>
        <ul>
          <li>Fundamental building blocks of Angular applications</li>
          <li>
            Consists of
            <ul>
              <li>Class that contains application data and logic</li>
              <li>
                An associated HTML template that defines a view to be displayed
              </li>
              <li>An optional CSS file for styles used in the component</li>
            </ul>
          </li>

          <li>
            Define views
            <ul>
              <li>
                Sets of screen elements that Angular can choose among and modify
                according to your program logic and data
              </li>
              <li>
                Allows construction of a view hierarchy, which allows you to
                define arbitrary complex areas of the screen that can be
                created, modified, and destroyed as a unit
              </li>
            </ul>
          </li>
          <li>
            Use services
            <ul>
              <li>
                Provide specific functionality not directly related to views
              </li>
              <li>These are injected into components as dependencies</li>
            </ul>
          </li>
          <li>
            Every Angular application has at least one root component
            <ul>
              <li>
                Foundation component for an Angular project, so all applications
                require one and only one
              </li>
              <li>Called app-root</li>
              <li>
                When you bootstrap with the AppComponent class (in main.ts),
                Angular looks for a app-root in the index.html, instantiates an
                instance of AppComponent, and renders it inside the app-root tag
              </li>
              <li>Connects a component hierarchy with the page DOM</li>
            </ul>
          </li>
        </ul>
      </section>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Topics</h5>
          <a class="card-link" href="./components/configuration.html"
            >Component Configuration</a
          ><br />
          <a class="card-link" href="./components/contentProjection.html"
            >Content Projection</a
          ><br />
          <a class="card-link" href="./components/inputOutput.html"
            >Input / Output Properties</a
          ><br />

          <a class="card-link" href="./components/parentChildCommunication.html"
            >Parent / Child Communication</a
          ><br />
          <a class="card-link" href="./components/propertySetters.html"
            >Property Setters</a
          ><br />
          <a class="card-link" href="./components/styles.html"
            >Styling Components</a
          ><br />
          <a class="card-link" href="./components/viewLayerArchitecture.html"
            >View Layer Architecture</a
          >
          <a class="card-link" href="./components/viewChild.html">ViewChild</a>
        </div>
      </div>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
