<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="../../assets/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./../assets/styles/site.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Home</a>
      </div>
    </nav>
    <div class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
          <li class="breadcrumb-item">
            <a href="../index.html">Angular</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Component Best Practices
          </li>
        </ol>
      </nav>
      <h1>Component Best Practices</h1>
      <section class="navlinks">
        <ul>
          <li>
            <a href="#files">File Recommendations</a>
          </li>
          <li>
            <a href="#selectors">Component Selectors</a>
          </li>
          <li>
            <a href="#classes">Class Definitions</a>
          </li>
          <li>
            <a href="#properties">Properties</a>
          </li>
          <li>
            <a href="#eventHandlers">Outputs and Event Handlers</a>
          </li>
          <li>
            <a href="#inputMutations">Input Mutations</a>
          </li>
          <li>
            <a href="#logic">Component Logic</a>
          </li>
          <li>
            <a href="#communication">Component Communication</a>
          </li>
          <li>
            <a href="#singleElements"
              >Avoid Rewriting Single Elements as Components</a
            >
          </li>
          <li>
            <a href="#assorted">Assorted</a>
          </li>
        </ul>
      </section>

      <h2 class="files">File Recommendations</h2>
      <section>
        <ul>
          <li>
            Keep templates and styles in separate files (when over 3 lines long)
          </li>
          <li>
            See also
            <a href="files.html"
              >File, Code, and Project Setup Recommendations</a
            >
          </li>
          <li>
            Limit code to 400 lines per file
          </li>
          <li>
            Limit functions to 75 lines 
          </li>
          <li>
            Declare variables as cont when they will have constant values
          </li>
          <li>
            Use lower camel case for properties and methods
          </li>
          <li>
            Leave an empty line between imports and modules
          </li>
          <li>
            Do not name interfces starting with an uppercase I
          </li>
        </ul>
      </section>

      <h2 id="selectors">Component Selectors</h2>
      <section>
        Component selectors should be
        <ul>
          <li>Dashed-case or kebab-case (toh-hero-button)</li>
          <li>
            Include a prefix indicating the feature area or the application
            itself
          </li>
          <li>Easier to identify and prevents naming collisions</li>
        </ul>
      </section>

      <h2 id="classes">Class Definitions</h2>
      <section>
        <ul>
          <li>
            Use strongly typed objects for type safety
            <ul>
              <li>Avoid <em>any</em> types since you lose type safety</li>
            </ul>
          </li>
          <li>
            When using lifecycle hooks, implement lifecycle hook interfaces
          </li>
        </ul>
      </section>

      <h2 id="properties">Properties</h2>
      <section>
        <ul>
          <li>
            Organize members as such
            <ul>
              <li>Public properties, alphabetized</li>
              <li>Private properties, alphabetized</li>
              <li>Public methods, alphabetized</li>
              <li>Private methods, alphabetized</li>
            </ul>
          </li>
        </ul>
      </section>

      <h2 id="io">Inputs / Outputs</h2>
      <section>
        <ul>
          <li>
            Use input and output decorators, not properties on the component
            configuration object
          </li>
          <li>
            If possible, keep them on the same line as the rest of the
            declaration
          </li>
          <li>Avoid aliasing inputs and outputs</li>
          <li>
            Provide a default value for inputs or use ? to explicitly mark the
            property as optional
            <ul>
              <li>Do not suppress this with !</li>
            </ul>
          </li>
          <li>
            Do not use on prefix for output events
            <div class="card">
              <div class="card-body">
                <code>
                  @Output savedTheDay = new EventEmitter&lt;Boolean&gt;()
                </code>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <h2 id="eventHandlers">Outputs and Event Handlers</h2>
      <section>
        <ul>
          <li>
            Use <em>on</em> prefix for event handlers, followed by the event
            name
            <ul>
              <li>onSavedTheDay</li>
            </ul>
          </li>
          <li>
            Do not use on prefix for events
            <div class="card">
              <div class="card-body">
                <code>
                  @Output savedTheDay = new EventEmitter&lt;Boolean&gt;()"
                </code>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <h2 id="inputMutations">Input Mutations</h2>
      <section>
        Inputs should not be mutated within components
        <ul>
          <ul>
            <li>
              Mutating or redeclaring input values can lead to bugs that are
              difficult to diagnose
            </li>
            <li>
              Never mutate data in a component that comes from outside the
              component
              <ul>
                <li>Mutating data from within the component is fine</li>
              </ul>
            </li>
            <li>
              Solutions
              <ul>
                <li>Mark as readonly</li>
                <li>Define the interface as ReadonlyArray</li>
              </ul>
            </li>
          </ul>
        </ul>
      </section>

      <h2 id="logic">Component Logic</h2>
      <section>
        Keep logic minimal and only focused on that required for the view
        <ul>
          <li>Components should be small and focused</li>
          <li>Delegate complex, duplicated logic to services</li>
          <li>
            Put presentation logic in the component class, not the template
          </li>
        </ul>
      </section>

      <h2 id="communication">Component Communication</h2>
      <section>
        <ul>
          <li>
            The correct way of component communication is to
            <ul>
              <li>Let parent components pass data to their children</li>
              <li>
                Let children notify the parents when an action has been
                performed
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <h2 id="singleElements">Avoid Rewriting Single Elements as Components</h2>
      <section>
        Minimize writing custom components that replace or encapsulate single
        elements
        <ul>
          <li>
            Example of this would be replacing as single input element with a
            my-input component
          </li>
          <li>
            Problems that arise
            <ul>
              <li>
                Consumer cannot customize the attributes of the native element
                unless the component API allows it
                <ul>
                  <li>
                    HTML element APIs are usually quite extensive, so a single
                    element custom component limits what can be done with it
                  </li>
                  <li>
                    HTML element APIs are usually quite extensive, far more than
                    can be economically replicated in a custom component
                  </li>
                </ul>
              </li>
              <li>
                Native elements have built in accessibility attributes that are
                overwritten by implementing them as a component
              </li>
              <li>
                Native elements are an API that consumers can use that they are
                already familiar with
                <ul>
                  <li>Must relearn a different API on custom components</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            Better solution is to use directives to augment existing elements
            <ul>
              <li>Keeps the native elements exposed</li>
              <li>Angular Material takes this approach</li>
            </ul>
          </li>
        </ul>
      </section>

      <h2 id="assorted">Assorted</h2>
      <section>
        <ul>
          <li>Use ARIA attributes to describe what a component does</li>
        </ul>
      </section>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
