<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="../../../assets/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../../assets/styles/site.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html">Home</a>
      </div>
    </nav>
    <div class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="../../../index.html">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="../../index.html">Angular</a>
          </li>
          <li class="breadcrumb-item">
            <a href="../index.html">Cookbook</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Connect Components using a Service
          </li>
        </ol>
      </nav>

      <h1 id="scrolling">Connect Components using a Service</h1>
      
      <section>
        <div>
          Define a service
          <div class="card">
            <div class="card-body">
              <code>
                export class TeamWithChangeEventComponent {<br />
                selectedTeam = '';<br />
                onSelected(value:string): void { <br />
                this.selectedTeam = value;<br />
                }<br />}
              </code>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="../../../assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
