<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/styles/site.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Home</a>
      </div>
    </nav>
    <div class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
          <li class="breadcrumb-item">
            <a href="../index.html">Angular</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Input / Output Properties</li>
        </ol>
      </nav>

      <h1>Input / Output Properties</h1>

      <section class="navlinks">
        <ul>
          <li>
            <a href="inputOutput.html#properties">Input / Output Properties</a>
          </li>
          <li>
            <a href="inputOutput.html#input">Input Properties</a>
          </li>
          <li>
            <a href="inputOutput.html#input">Input Properties</a>
          </li>
          <li>
            <a href="inputOutput.html#inputPropertyOptions">Input Property Options</a>
          </li>
          <li>
            <a href="inputOutput.html#routePaams">Route Parameter / Input Mapping</a>
          </li>
          <li>
            <a href="inputOutput.html#propertySetters">Property Setters/a>
          </li>
          <li>
            <a href="inputOutput.html#output">Output Properties</a>
          </li>
          <li>
            <a href="inputOutput.html#aliases">Import / Export Aliases</a>
          </li>
          <li>
            <a href="inputOutput.html#bestpractices">Best Practices</a>
          </li>
        </ul>
      </section>

      <h2 id="properties">Input / Output Properties</h2>
      <section>
        <ul>
          <li>When binding to a template to its own component class, you have no need of these.</li>
          <li>
            These are used when binding to a property of a different component
            <ul>
              <li>TypeScript access modifiers can’t be used to shape a component's public binding API</li>
            </ul>
          </li>
          <li>Directive properties that must be declared as inputs or outputs</li>
        </ul>
      </section>

      <h3 id="input">Input Properties</h3>
      <section>
        <ul>
          <li>Settable properties; receive data values from parent components</li>
          <li>Values flow into the property when it is data bound with a property binding</li>
          <li>Declare using Input decorator in the child class and bind the property in the parent component template</li>
          <li>
            Use ngOnChanges to detect when input property values change
            <ul>
              <li>This method receives a SimpleChange object</li>
              <li>This will give you the old and new values of the inputs</li>
            </ul>
          </li>
          <li>
            Performance considerations
            <ul>
              <li>If you are passing a static value from a parent to a child, consider using the @Attribute decorator over @Input</li>
            </ul>
          </li>
        </ul>
      </section>

      <h4 id="inputPropertyOptions">Input Property Options</h4>
      <section>
        <ul>
          <li>
            alias
            <ul>
              <li>Name of the DOM property to which the input property is bound.</li>
              <li>Use this when you want to work on a different name inside the directive / component</li>
              <li>
                See
                <a href="inputOutput.html#aliases">Import / Export Aliases</a>
              </li>
            </ul>
          </li>
          <li>
            required
            <ul>
              <li>The input is required for the directive to function</li>
            </ul>
            <div class="card">
              <div class="card-body">
                <code>@Input({ required: true }) userId: number = 0;</code>
              </div>
            </div>
          </li>
          <li>
            transform
            <ul>
              <li>Function to transform the input value before assigning it to the directive instance.</li>
              <li>This is useful on route parameter / input mapping since it provodes a point to cast the string value from the url to somthing else.</li>
            </ul>
          </li>
        </ul>
        <div class="card">
          <div class="card-body">
            <code>
              function toInteger(val: string) {
              <br />
              return +val;
              <br />
              }
              <br />
              ...
              <br />
              @Input({ transform: toInteger }) userId: number = 0;
            </code>
          </div>
        </div>
      </section>

      <h4 id="routePaams">Route Parameter / Input Mapping</h4>
      <section>
        <ul>
          <li>
            <a href="../routing/routeParameterMapping.html">See this</a>
          </li>
        </ul>
      </section>


      <h4 id="propertySetters">Property Setters</h4>
      <section>
        <li>
          See Input Property Options for the transform option instead of this
        </li>
        <li>Intercept input property changes can be done with a setter</li>
        <li>
          This is useful if you need to do some sort of validation or
          standardization on inputs
        </li>
        <li>
          Angular Fundamentals class uses this to create a derived value from an
          input property
          <ul>
            <li>
              Uses this to set the color of a voting icon to set or not set
            </li>
            <li>
              The setting on an input property toggles the color of the icon
            </li>
            <li>Eliminates the need for a conditional on the icon</li>
          </ul>
        </li>
        <li>
          Parent components can bind to output event properties on children and
          react to those events
        </li>
        <p>
          Example of an input setter. This can then be used to reference an
          internal variable _name
        </p>
        <div class="card">
          <div class="card-body">
            <code>
              @Input()&#10;set name(name: string) {...}&#10;get name(name:
              string) { ... }
            </code>
          </div>
        </div>
      </section>

      <h3 id="output">Output Properties</h3>
      <section>
        <ul>
          <li>Values flow out of the component as events bound with an event binding</li>
          <li>This allows a child to send data to a parent component</li>
          <li>Observable property = means you can subscribe to it</li>
          <li>Annotated with @Output decorator</li>
          <li>
            Events through outputs behave differently in Angular than they do in JS
            <ul>
              <li>Events do not bubble up to higher components like they do in JS</li>

              <li>An event dispatched from a child component can only be heard by its parent component, not any higher</li>
              <li>This was a design decision done to streamline concepts</li>
              <li>A service bus design or store solution might be alternatives if this is needed (Can implement in plain JS, but this should be avoided)</li>
            </ul>
          </li>
          <li>Almost always returns an Angular EventEmitter object</li>
        </ul>

        <div>
          Import the required items in the child component
          <div class="card">
            <div class="card-body">
              <code>import { EventEmitter, Output } from "@angular/core";</code>
            </div>
          </div>
        </div>
        <div>
          In the child component, declare an EventEmitter property with the Output decorator
          <div class="card">
            <div class="card-body">
              <code>@Output() DeleteRequest= new EventEmitter&lt;Hero&gt;()</code>
            </div>
          </div>
        </div>
        <div>
          To dispatch the event in the child, raise it with the emit method call. Hero is the data you wish to pass back to the parent
          <div class="card">
            <div class="card-body">
              <code>this.DeleteRequest.emit(hero)</code>
            </div>
          </div>
        </div>
        <div>
          To configure the parent, add a method in the component to handle the data and bind that method to the child component template. The $event object contains the data dispatched by the event
          <div class="card">
            <div class="card-body">
              <code>&lt;app-item-output (deleteRequest)=&quot;addItem($event)&quot; ...&gt;</code>
            </div>
          </div>
        </div>

        <div>
          Bind to an output property in a parent component. This calls a handler method onVoted on the parent component. The parameter for this method will be the payload sent by the child.
          <div class="card">
            <div class="card-body">
              <code>&lt;my-component (onvoted)=&quot;onVoted($event)&quot;&gt;&lt;/my-component&gt;</code>
            </div>
          </div>
        </div>
      </section>

      <h3 id="aliases">Import / Export Aliases</h3>
      <section>
        <ul>
          <li>These are useful when you want to expose one name for a property, such name it something different internally</li>
          <li>This can be done on both Inputs and Outputs</li>
          <li>Style guide recommends this should be avoided when possible</li>
        </ul>
        <p>Example of export alias</p>
        <div class="card">
          <div class="card-body">
            <code>@Output('myClick') clicks = new EventEmitter&lt;string&gt;()&#10;</code>
          </div>
        </div>
      </section>

      <h3 id="bestpractices">Best Practices</h3>
      <section>
        <ul>
          <li>
            General
            <ul>
              <li>Use input and output decorators, not properties on the component configuration object</li>
              <li>If possible, keep them on the same line as the rest of the declaration</li>
              <li>Avoid aliasing inputs and outputs</li>
              <li>
                Provide a default value for inputs or use ? to explicitly mark the property as optional
                <ul>
                  <li>Do not suppress this with !</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            Inputs
            <ul>
              <li>
                Inputs should not be mutated within components
                <ul>
                  <li>Mutating or redeclaring input values can lead to bugs that are difficult to diagnose</li>
                  <li>
                    Never mutate data in a component that comes from outside the component
                    <ul>
                      <li>Mutating data from within the component is fine</li>
                    </ul>
                  </li>
                  <li>
                    Solutions
                    <ul>
                      <li>Mark as readonly</li>
                      <li>Define the interface as ReadonlyArray</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            Outputs
            <ul>
              <li>
                Do not use on prefix for output events
                <div class="card">
                  <div class="card-body">
                    <code>@Output savedTheDay = new EventEmitter&lt;Boolean&gt;()</code>
                  </div>
                </div>
              </li>
              <li>
                Use
                <em>on</em>
                prefix for event handlers, followed by the event name
                <ul>
                  <li>onSavedTheDay</li>
                </ul>
              </li>
              <li>
                Do not use on prefix for events
                <div class="card">
                  <div class="card-body">
                    <code>@Output savedTheDay = new EventEmitter&lt;Boolean&gt;()"</code>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
