<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="../../assets/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../assets/styles/site.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Home</a>
      </div>
    </nav>
    <div class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
          <li class="breadcrumb-item">
            <a href="../index.html">Angular</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Reactive Forms - FormArray
          </li>
        </ol>
      </nav>

      <h1>Reactive Forms - FormArray</h1>

      <h2>FormArray</h2>
      <section>
        <ul>
          <li>
            Allows you to manage any number of AbstractControl controls as an
            array
            <ul>
              <li>Opposed to FormGroup, which stores controls as properties</li>
              <li>
                This is a good option if you do not know the number of child
                values in advance
              </li>
              <li>
                Can contain a FormGroup, FormControl, or another FormArray
              </li>
              <li>
                Since objects in the array are considered AbstractControls, they
                must be typed when you retrieve them
              </li>
            </ul>
          </li>
          <li>
            This is an extension of the AbstractControl class. Therefore, it
            contains properties that it has in common with them, such as
            <ul>
              <li>valid</li>
              <li>dirty</li>
              <li>disabled</li>
              <li>controls</li>
            </ul>
          </li>

          <li>
            See
            <a href="./dynamicReactiveForms.html"
              >Reactive Forms - Dynamic Forms</a
            >
          </li>
          <li>
            <code>FormArray</code> instance value and validation status is
            calculated from its child controls
          </li>
          <li>
            Syntax
            <ul>
              <li>
                use the FormBuilder.array() method to create a new FormArray
                when using FormBuilder
              </li>
              <li>
                use FormBuilder.control('') to push a new control to the array
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <h2>Fetching a FormArray from a FormGroup</h2>
      <section>
        <ul>
          <li>
            Retrieving a FormArray from a FormGroup uses a similar syntax as
            fetching a FormControl
          </li>
        </ul>
        <div>
          <div class="card">
            <div class="card-body">
              <code>
                fetchArray():FormArray { <br />
                return &lt;FormArray&gt; this.myFormGroup.get('tickets'); <br />
                }
              </code>
            </div>
          </div>
        </div>
      </section>

      <h2>Validation</h2>
      <section>
        <ul>
          <li>
            The validity of a FormArray is determined by the validity of its
            contained AbstractControls
            <ul>
              <li>
                If at least one child is invalid, the whole array will be
                invalid
              </li>
            </ul>
          </li>
          <li>
            Array level validators (sync and async) can be specified that
            considers all children of the FormArray
          </li>
        </ul>
        <div>
          Example of using FormArray level validators
          <div class="card">
            <div class="card-body">
              <code>
                const arr = new FormArray([ <br />
                new FormControl('Jim'), <br />
                new FormControl('Bob') <br />
                ], {validators: mySyncValidators, asyncValidators:
                myAsyncValidators}); <br />
              </code>
            </div>
          </div>
        </div>
      </section>

      <h2>UpdateOn</h2>
      <section>
        <ul>
          <li>
            An options object can be included to set a default value for each
            child controls updaetOnProperty
          </li>
          <li>
            For example, setting updateOn to blur at the array will update all
            children (unless configured otherwise on the child control)
          </li>
        </ul>
        <div>
          Example of applying the updateOn option to all children in the array
          <div class="card">
            <div class="card-body">
              <code>
                const arr = new FormArray([ <br />
                new FormControl() <br />
                ], {updateOn: 'blur'}); <br />
              </code>
            </div>
          </div>
        </div>
      </section>

      <h2>Methods</h2>
      <section>
        <ul>
          <li>
            controls
            <ul>
              <li>
                An array containing all the controls that are part of the array
              </li>
            </ul>
          </li>
          <li>
            insert(index)
            <ul>
              <li>
                Inserts a new AbstractControl at the given index in the array
              </li>
            </ul>
          </li>
          <li>
            length
            <ul>
              <li>Total length of the array</li>
            </ul>
          </li>
          <li>
            at(index)
            <ul>
              <li>returns the form control at the given array position</li>
            </ul>
          </li>
          <li>
            push(AbstractControl)
            <ul>
              <li>Adds a new control to the end of the array</li>
              <li>These are added to the controls property</li>
              <li>
                <div class="card">
                  <div class="card-body">
                    <code>
                      skills = new FormArray([]); <br />
                      ... <br />
                      addSkill() { <br />
                      this.skills.push(new FormControl('')); <br />
                      } <br />
                    </code>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            removeAt(index)
            <ul>
              <li>Removes a control at a given index number of the array</li>
            </ul>
          </li>
          <li>
            getRawValue()
            <ul>
              <li>
                Gets the values of all form controls via the
                <code>control.value</code> property for each control
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <h2>Cookbook</h2>
      <h3>Basic FormArray with a Collection of FormControls</h3>
      <section>
        <ul>
          <li>
            This is more to understand the concepts, not particularly practical
          </li>
          <li>
            In the component, define the FormArray. Also, add methods to add and
            remove a control as well as clear all controls
            <div class="card">
              <div class="card-body">
                <code>
                  skills = new FormArray([]); <br />
                  <br />
                  add() { <br />
                  this.skills.push(new FormControl('')); <br />
                  } <br />
                  remove(index: number) {<br />
                  this.skills.removeAt(index);<br />
                  }<br />
                  removeAll(index: number) {<br />
                  this.skills.clear();<br />
                  }<br />
                </code>
              </div>
            </div>
          </li>
          <li>
            In the template
            <div class="card">
              <div class="card-body">
                <code>
                  &lt;div *ngFor="let control of skills.controls; index as
                  i"&gt; <br />
                  &lt;input [formControl]="skills.controls[i]" /&gt; <br />
                  %lt;button (click)="remove(i)"&gt;X%lt;/button&gt; <br />
                  &lt;/div&gt; <br />
                  %lt;button (click)="removeAll()"&gt;Remove All%lt;/button&gt;
                  <br />
                </code>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <h3>Basic FormArray with a FormGroup</h3>
      <section>
        <ul>
          <li>
            This is more to understand the concepts, not particularly practical
          </li>
          <li>
            In the component, define the FormArray. Also, add methods to add and
            remove a control as well as clear all controls
            <div class="card">
              <div class="card-body">
                <code>
                  skills = new FormArray([]); <br />
                  <br />
                  add() { <br />
                  const group = new FormGroup({ <br />
                  level: new FormControl(''), <br />
                  name: new FormControl('') <br />
                  }); <br />
                  <br />
                  this.skills.push(group); <br />
                  }<br />
                </code>
              </div>
            </div>
          </li>
          <li>
            In the template,
            <div class="card">
              <div class="card-body">
                <code>
                  &lt;div *ngFor="let skill of skills.controls"&gt; <br />
                  &lt;ng-container [formGroup]="skill" /&gt; <br />
                  &lt;input formControlName="skill" /&gt; <br />
                  &lt;input formControlName="skill" /&gt; <br />
                  &lt;/ng-container&gt; <br />
                  &lt;/div&gt; <br />
                </code>
              </div>
            </div>
          </li>
          <li>
            <a
              href="https://netbasal.com/angular-reactive-forms-the-ultimate-guide-to-formarray-3adbe6b0b61a"
            >
              https://netbasal.com/angular-reactive-forms-the-ultimate-guide-to-formarray-3adbe6b0b61a
            </a>
          </li>
        </ul>
      </section>

      <h2>FormGroup containing a FormArray</h2>
      <section>
        <ul>
          <li>A more complex, but practical example</li>
          <li>
            Create a FormGroup instance in the component
            <ul>
              <li>
                Defining a property gives you a shortcut to the FormArray
                element
              </li>
              <li>
                The property must type the returned AbstractControl object to
                get access method syntax for FormArray
              </li>
              <li>Can also use FormBuilder to do this</li>
            </ul>
            <div class="card">
              <div class="card-body">
                <code>
                  ... <br />
                  user = new FormGroup({ <br />
                  name: new FormControl(''), <br />
                  skills: new FormArray([]) <br />
                  }); <br />
                  ... <br />
                  get skills() { <br />
                  return this.user.get('skills') as FormArray; <br />
                  } <br />
                </code>
              </div>
            </div>
          </li>
          <li>
            New FormGroup items can be added dynamically to the FormArray - the
            following code:
            <ul>
              <li>
                Creates a utility function on the component to generate a new
                FormGroup item
              </li>
              <li>
                Provides an addSkills method that the template can bind to to
                trigger the action
              </li>
            </ul>
            <div class="card">
              <div class="card-body">
                <code>
                  newSkill(): FormGroup { <br />
                  return this.fb.group({ <br />
                  skill: '', <br />
                  exp: '', <br />
                  }) <br />
                  } <br />
                  ... <br />
                  addSkills() { <br />
                  this.skills.push(this.newSkill()); <br />
                  } <br />
                </code>
              </div>
            </div>
          </li>
          <li>
            Define the following in the template:
            <ul>
              <li>
                The name input is just a simple control also defined with the
                FormArray in the FormGroup
              </li>
              <li>
                The FormControlName directive is different for FormArrays; we
                have to look for the index since controls in the FormArray do
                not have keys
              </li>
            </ul>
            <div class="card">
              <div class="card-body">
                <code>
                  &lt;form [formGroup]="user"&gt; <br />
                  &lt;input formControlName="name" /&gt; <br />
                  &lt;ng-container formArrayName="skills"&gt; <br />
                  &lt;div *ngFor="let _ of skills.controls; index as i"&gt;
                  <br />
                  &lt;input [formControlName]="i" /&gt; <br />
                  &lt;/div&gt; <br />
                  &lt;/ng-container&gt; <br />
                  &lt;/form&gt; <br />
                </code>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <h3>Example with a FormArray that Contains a Collection of FormGroups</h3>
      <section>
        <ul>
          <li>
            <div class="card">
              <div class="card-body">
                <code>
                  export class UserComponent {<br />
                  user = new FormGroup({<br />
                  name: new FormControl(''),<br />
                  skills: new FormArray([<br />
                  new FormGroup({<br />
                  name: new FormControl(''),<br />
                  level: new FormControl('')<br />
                  })<br />
                  ])<br />
                  });<br />
                  skills = this.user.get('skills') as FormArray;<br />
                  }<br />
                </code>
              </div>
            </div>
          </li>
          <li>
            Since the FormArray now contains FormGroups, we must use the
            FormGroupName directive
            <div class="card">
              <div class="card-body">
                <code>
                  &lt;form [formGroup]="user"&gt; <br />
                  &lt;input formControlName="name" /&gt; <br />
                  &lt;ng-container formArrayName="skills"&gt; <br />
                  &lt;div *ngFor="let _ of skills.controls; index as i"&gt;
                  <br />
                  &lt;ng-container [formGroupName]="i"&gt; <br />
                  &lt;input formControlName="name" /&gt; <br />
                  &lt;/ng-container&gt; &lt;/div&gt; <br />
                  &lt;/ng-container&gt; <br />
                  &lt;/form&gt; <br />
                </code>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <h2>See Also</h2>
      <section>
        <ul>
          <li>
            <a href="https://blog.angular-university.io/angular-form-array/"
              >https://blog.angular-university.io/angular-form-array/</a
            >
          </li>
        </ul>
      </section>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
