<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="../../../assets/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../../assets/styles/site.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../">Home</a>
      </div>
    </nav>
    <div class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="../../../index.html">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="../../index.html">Angular</a>
          </li>
          <li class="breadcrumb-item">
            <a href="../index.html">Cookbook</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Repeatedly Display a Block of Code
          </li>
        </ol>
      </nav>

      <h1>Repeatedly Display a Block of Code</h1>

      <section>
        <ul>
          <li>
            Define a ng-template containing the code that you want to replicate
          </li>
          <li>Assign a template reference variable to this template</li>
          <li>
            Add ng-containers to all points where the code needs to display
          </li>
          <li>
            Tag the ng-containers with the *ngTemplateOutput attribute. This
            should have the template reference variable on the right side of the
            equals sign
          </li>
        </ul>
      </section>
    </div>
    <script src="../../../assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
