<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/styles/site.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Home</a>
      </div>
    </nav>
    <div class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
          <li class="breadcrumb-item">
            <a href="../index.html">Angular</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Directive Basics</li>
        </ol>
      </nav>

      <h1>Directive Basics</h1>

      <section>
        <ul>
          <li>
            Directives are classes that add additional behavior to elements
            <ul>
              <li>Directives change the appearance or behavior of an element, component, or another directive
              <li>When directives are rendered, Angular transforms the DOM according to the instructions given by the directive</li>
              </li>
            </ul>
          </li>
          <li>
            Components are technically Directives
            <ul>
<li>The main difference between a Directive and a Component is that a Directive does not have a template</li>
            </ul>
          </li>
          <li>
            There are two types:
            <ul>
              <li>
                <a href="structural.html">Structural</a>
                <ul>
                  <li>Alter the page layout by adding, removing, and replacing elements in DOM</li>
                  <li>Examples include *ngFor, *ngIf</li>
                </ul>
              </li>
              <li>
                <a href="attribute.html">Attribute</a>
                <ul>
                  <li>These alter the appearance or behavior of the existing element</li>
                  <li>Look like regular HTML attributes, hence the name</li>
                  <li>Example includes ngModel</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
