ol.breadcrumb {
    padding-top: 2%;
}

h1 {
    margin-bottom: 3%;
}

h2 {
    margin-top: 4%;
}

h3 { 
    margin: 2% 0 2% 0; 
}

div.card {
    margin-bottom: 2%;
}


span.devnote {
    color: red;
}