ol.breadcrumb {
    padding-top: 2%;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin: 1.5em 0 .15em 0; 
}

h3 { 
    margin: 1.25em 0 .15em 0; 
}

div.card {
    margin-bottom: .75em;
}

.header-note {
    color: darkred;
    margin: 3% 2%;
    padding: 2%;
    border: 1px solid darkred;
    border-radius: 3px;
}


span.devnote {
    color: darkred;
}

.reminder {
    font-weight: bold;
}
