<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="../../assets/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../assets/styles/site.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Home</a>
      </div>
    </nav>
    <div class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
          <li class="breadcrumb-item">
            <a href="../index.html">Angular</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Reactive Forms - Validation
          </li>
        </ol>
      </nav>

      <h1>Reactive Forms - Validation</h1>

      <section>
        <ul>
          <li>
            Validation is defined in the component where it can be unit tested
          </li>
          <li>Includes a set of built-in set of common validators</li>
        </ul>
      </section>

      <h2>Control Status</h2>
      <section>
        <ul>
          <li>
            FormControl and FormGroup classes have properties to give you an
            idea about the current state of the form
            <ul>
              <li>
                Given a FormGroup named loginForm
                <ul>
                  <li>loginForm.valid</li>
                  <li>loginForm.invalid</li>
                  <li>loginForm.dirty</li>
                  <li>loginForm.pristine</li>
                  <li>loginForm.submitted</li>
                  <li>loginForm.touched</li>
                  <li>loginForm.untouched</li>
                </ul>
              </li>
              <li>
                You can check the states of its individual FormControl elements
                through it. Given a FormControl username assigned to FormGroup
                loginForm
                <ul>
                  <li>loginForm.controls.userName.valid</li>
                  <li>loginForm.controls.userName.invalid</li>
                  <li>loginForm.controls.userName.dirty</li>
                  <li>loginForm.controls.userName.pristine</li>
                  <li>loginForm.controls.userName.submitted</li>
                  <li>loginForm.controls.userName.touched</li>
                  <li>loginForm.controls.userName.untouched</li>
                </ul>
              </li>
              <li>
                You can use these to do things like
                <ul>
                  <li>Disable a Submit button for invalid forms</li>
                  <li>
                    Highlight inputs that have not been touched and are invalid
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            Combine these with CSS to style inputs to give feedback to the user
            about invalid values
          </li>
          <li>
            In the template, you can define multiple error message to give
            feedback to the use
            <ul>
              <li>Use a ngIf directive to show or hide them as appropriate</li>
              <li>
                Examples (given FormGroup profileForm with a FormControl of
                firstName)
                <ul>
                  <li>
                    To show/hide a message telling the user the field is
                    required and missing a value
                    <div class="card">
                      <div class="card-body">
                        <code>
                          ...<br />
                          *ngIf=&quot;profileForm.controls.firstName.errors.required&quot;<br />
                          ...
                        </code>
                      </div>
                    </div>
                  </li>
                  <li>
                    To show/hide a message telling the user the value does not
                    match the required pattern
                    <div class="card">
                      <div class="card-body">
                        <code>
                          ...<br />
                          *ngIf=&quot;profileForm.controls.firstName.errors.pattern&quot;<br />
                          ...
                        </code>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <h2>Built-In Validators</h2>
      <section>
        <ul>
          <li>
            These are static methods added to the second parameter of the
            FormsControl constructor
          </li>
          <li>
            Check the documentation for more built-in validators (search for
            validators in docs)
          </li>
        </ul>
      </section>

      <h3>Required Fields</h3>
      <section>
        <ul>
          <li>Validators.required
            <ul>
              <li>Add the HTML 5 required attribute to the form element</li>
              <li>Requires the control have a non empty value</li>
              <li>firstName: ['', Validators.required]</li>
            </ul>
          </li>
<li>
  Validators.requiredTrue
  <ul>
    <li>Requires the controls value be true</li>
    <li>Commonly used for required checkbox</li>
  </ul>
</li>
        </ul>
      </section>

      <h3>Min and Max for Numbers</h3>
      <section>
        <ul>
          <li>Validators.min(x) - Number must be at least x</li>
          <li>Validators.max(x) - Number cannot be larger than x</li>
          <li>
            MinLength and maxLength for strings
            <ul>
              <li>
                Validators.maxLength(x) - String cannot contain more than x
                characters
              </li>
              <li>
                Validators.minLength(x) - String must contain x characters
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <h3>Data Type</h3>
      <section>
        <ul>
          <li>email
            <ul>
              <li>Requires the controls value pass an email validation test</li>
            </ul>
          </li>
        </ul>
      </section>

      <h3>Pattern Matching</h3>
      <section>
        <ul>
          <li>Validators.pattern
            <ul>
              <li>Use for regular expression pattern matching</li>
              <li>Validators.pattern('[a-zA-Z.*]')</li>
              <li>
                Does this exist as an HTML 5 attribute????? Demo seems to suggest so
              </li>
            </ul>
          </li>

        </ul>
      </section>

      <h2>Custom Validators</h2>
      <section>
        <ul>
          <li>
            When there are no built-in validators to match your needs, you can
            define your own
          </li>
          <li>
            It is essentially just a function
            <ul>
              <li>Returns null if the value is valid</li>
              <li>Error object if the value is invalid</li>
            </ul>
          </li>
          <li>
            Signature
            <ul>
              <li>Takes a FormControl object as a parameter</li>
              <li>
                Returns {[key: string]: any}
                <ul>
                  <li>Returns an object</li>
                  <li>Key is typically the name of the validator</li>
                  <li>Value can be whatever you want</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <h2>Syntax</h2>
      <section>
        <div>
          Need to import Validators from @angular/forms
          <div class="card">
            <div class="card-body">
              <code> import { Validators } from '@angular/forms'; </code>
            </div>
          </div>
        </div>
        <div>
          Add the validator as a second parameter when declaring a FormControl
          <ul>
            <li>
              The validators field can also take an array of validators if you
              need more than one on an array
            </li>
            <li>
              These are just functions – see custom validators section for more
              details
            </li>
          </ul>
          <div class="card">
            <div class="card-body">
              <code>
                let firstName = new FormControl(initial_value,
                Validators.required)
              </code>
            </div>
          </div>
        </div>
        <div>
          To test if the entire for is valid, check the valid property on the
          FormGroup
          <div class="card">
            <div class="card-body">
              <code>if(this.profileForm.valid) ...</code>
            </div>
          </div>
        </div>
      </section>

<h2>Custom Validators</h2>
      <section>
        <ul>
          <li>
            Custom validators can be implemented as classes
            <ul>
              <li>
                Use the Directive decorator on this class
                <ul>
                  <li>This should contain a selector</li>
                </ul>
              </li>
              <li>The class name should end in a Validator suffix</li>
              <li>The class should implement Validator class</li>
              <li>
                Contains a single method, validate
                <ul>
                  <li>Takes a FormGroup object as a parameter</li>
                  <li>Returns { [key: string]: any }</li>
                </ul>
              </li>
              <li>
                To access a control named address in the FormGroup
                <ul>
                  <li>formGroup.controls['address']</li>
                </ul>
              </li>
              <li>
                You can navigate up the FormGroup hierarchy by accessing
                <div class="card">
                  <div class="card-body">
                    <code>
                      (&lt;FormGroup&gt;formGroup.root).controls&#91;'controlInParentFormGroup'&#93;
                    </code>
                  </div>
                </div>
              </li>
              <li>Returning null means validation is passed</li>
            </ul>
          </li>

          <li>
            Custom validator classes must be added to Angular's validator
            'service'
            <ul>
              <li>
                Import NG_VALIDATORS from @angular/forms - this is essentially a
                service
              </li>
              <li>
                In the directive config object add
                <div class="card">
                  <div class="card-body">
                    <code>
                      Providers: &#91;{provide: NG_VALIDATORS, useExisting:
                      LocationValidator, multi: true }&#93;
                    </code>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            Without the multi: true parameter, this would break built in
            validators since LocationValidator is being configured to be
            injected
          </li>
          <li>
            The 3rd parameter adds the new validator to the collection of
            services provided by NG_VALIDATORS that are built in by Angular
          </li>
        </ul>
      </section>


      <h2>Examples</h2>

      <h3>Input Validation</h3>
      <section>
        <div>
          For a cleaner presentation, error messages can be hidden until the
          user has touched the control and left an invalid value
          <div class="card">
            <div class="card-body">
              <code>
                &lt;input type="text" id="name" name="name"
                formControlName="name" required [class.has-error]="name.invalid
                && (name.dirty || name.touched)"&gt;<br />
                &lt;div *ngIf="name.invalid && (name.dirty ||
                name.touched)"&gt;<br />
                &lt;div *ngIf="name.errors?.['required']"&gt;<br />
                This field is required.<br />
                &lt;/div&gt;<br />
                &lt;div *ngIf="name.errors?.['minlength']"&gt;<br />
                This field must have at least 1 character.<br />
                &lt;/div&gt;<br />
                &lt;div *ngIf="name.errors?.['maxlength']"&gt;<br />
                This field must have at most 250 characters.<br />
                &lt;/div&gt;<br />
                &lt;/div&gt;<br />
                &lt;/div&gt;<br />
              </code>
            </div>
          </div>
        </div>
      </section>

    </div>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
