<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../assets/styles/site.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Home</a>
      </div>
    </nav>
    <div class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
          <li class="breadcrumb-item">
            <a href="../index.html">Angular</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">AsyncPipe</li>
        </ol>
      </nav>

      <h1>AsyncPipe</h1>

      <section>
        <ul>
          <li>Unwraps a value from an asynchronous primitive from inside the template syntax</li>
          <li>
            Subscribes to an Observable or Promise automatically so you don't have to do so in the component class
            <ul>
              <li>Automatically subscribes to an observable</li>
              <li>Will automatically unsubscribe when the component is destroyed to prevent memory leaks</li>
              <li>Helps eliminate boilerplate code</li>
            </ul>
          </li>
          <li>
            Stateful
            <ul>
              <li>Maintains a subscription to an input observable</li>
              <li>Delivers values are they arrive</li>
              <li>Returns the last value that was emitted</li>
            </ul>
          </li>
          <li>This is an impure pipe</li>
          <li>Allows you to use an observable in a for loop, saving boilerplate code</li>
          <li>
            Handling errors can be tricky, but here is one approach from
            <a href="https://www.youtube.com/watch?v=kb9CBd2c4uA" target="_blank">https://www.youtube.com/watch?v=kb9CBd2c4uA</a>
            <ul>
              <li>Use the catchError operator in the source stream that catches the error (err in this example) and returns a new observable containing the error</li>
              <li>This fixes the stream and allows you to react to it in the template</li>
              <li>See Example 3</li>
            </ul>
          </li>
        </ul>
      </section>

      <h2>Examples</h2>
      <section>
        <div>
          Example 1
          <ul>
            <li>$ is a convention indicating that the source is an observable (the observable should be named this)</li>
            <li>The component class would have an observable property declared named heros$</li>
          </ul>
          <div class="card">
            <div class="card-body">
              <code>&lt;li *ngFor=&quot;let hero of heros$ | async&quot;&gt;</code>
            </div>
          </div>
        </div>
        <div>
          Example 2
          <ul>
            <li>This displays a loading template if no value is emitted yet.</li>
            <li>Only trick is if an error occurs in the stream, the loading temple will be displayed indefinately.</li>
          </ul>
          <div class="card">
            <div class="card-body">
              <code>
                &lt;li *ngIf=&quot;users$ | async as user; else loading&quot;&gt; ...
                &lt;ng-template #loading>... display something indicating a load is going on ...&lt;/ng-template>
              </code>
            </div>
          </div>
        </div>
        <div>
          Example 3
          <ul>
            <li>This version uses the catchError operator and gives the template a chance to respond to the error</li>
            <li>This returns and Of observable containing the error when an error occurs</li>
            <li>Make sure you use the shareReplay and cache the observable on your service class to prevent multiple subscriptions</li>
          </ul>
          <div>
            In the service to fetch the data...
            <div class="card">
              <div class="card-body">
                <code>
                  return this.http.get&lt;DataObject&gt;("http://mytargeturl.com").pipe(<br/>
                  shareReplay(1)
                  )<br/>
                </code>
              </div>
            </div>
          </div>
          <div>
            In the component,
            <ul>
              <li>Setup two streams, one to read from the service and one to read from the first stream</li>
              <li>Use ignoreElements operator in the second stream since you only need to use it if an error occurs and do not want to emit successful values</li>
              <li>Catch the error and return an Of operator containing the error (which fixes the broken stream)</li>
            </ul>
            <div class="card">
              <div class="card-body">
                <code>
                  do$ = this.dataObjectService.getDataObject();<br/>
                  doError$ = this.do$.pipe(<br/>
                    ignoreElements(),<br/>
                    catchError((err) => of(err))<br/>
                  );
                </code>
              </div>
            </div>
          </div>
          <div>
            In the template...
            <ul>
              <li>
                One optimization is to create a dumb component to handle this.  See here <a href="https://www.youtube.com/watch?v=ydZK53Vmzf0">https://www.youtube.com/watch?v=ydZK53Vmzf0</a>
              </li>
            </ul>
            <div class="card">
              <div class="card-body">
                <code>
                  &lt;ng-container *ngIf="{user: user$ | async, userError: userError$ | async} as vm"&gt; <br/>
                  &lt;div *ngIf="!vm.userError && vm.user as user; else loading"&gt; <br/>
                  &lt;div&gt; <br/>
                      {{ user }} <br/>
                  &lt;/div&gt; <br/>
                  &lt;/div&gt; <br/>
                  &lt;div *ngIf="vm.userError as error"&gt; <br/> 
                  {{ error }} &lt; <br/>
                  /div&gt; <br/>              
                  &lt;ng-template #loading&gt; <br/>
                  &lt;div *ngIf="!vm.userError"&gt; <br/>
                        Loading... <br/>
                      &lt;/div&gt; <br/>
                  &lt;/ng-template&gt; <br/>
                  &lt;/ng-container&gt; <br/>
                </code>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
